@font-face {
    font-family: "Once Upon a Time-Inverse";
    font-style: normal;
    font-weight: normal;
    src: local("Once Upon a Time-Inverse"), url("Once Upon a Time-Inverse.woff") format("woff");
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-image: url(images/44444444444444444444.jpg);
    background-position: center;

}


.header-img{
    width: 100%;
}






.container {
    margin-top: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    /* padding: 5rem; */
}
.url {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: rgb(255, 94, 0);
}

.card {
    margin: 2em;
    background-color: rgb(229, 202, 255);
    padding: 10px;
    border-radius: 15px;
}
.image {
    padding: 5px;
    border-radius: 10px;
}

input{
    width:500px;
    height: 40px;
    background-color: #7f70ff;
    border-radius: 15px;
    margin: 7px;
}
#btnsubmit{
    width: 100px;
    height: 40px;
    background-color: #7f70ff;
    border-radius: 15px;
    padding: 7px;

}
#searchForm{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
    
}
