* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body {
    background-image: url(images/44444444444444444444.jpg);
    background-position: center;
}

.header-img {
    width: 100%;
}

.container {
    margin-top: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.url {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: rgb(255, 251, 0);
    font-size: large;
}

.card {
    margin: 2em;
    background-color: rgba(30, 61, 133, 0.787);
    padding: 10px;
    border-radius: 15px;
    width: 300px;
}
.image {
    padding: 5px;
    border-radius: 15px;
}

input {
    width: 300px;
    height: 40px;
    background-color: rgba(30, 61, 133, 0.787);
    border-radius: 15px;
    margin: 7px;
    display: inline;
    color: rgb(255, 251, 0);
    font-size: large;
}
::placeholder {
    color: rgb(255, 251, 0);
}
#btnsubmit {
    width: 100px;
    height: 40px;
    background-color: rgba(30, 61, 133, 0.787);
    border-radius: 15px;
    padding: 7px;
    display: inline;
    font-size: large;
    color: rgb(255, 251, 0);
}

select {
    display: inline;
    width: 200px;
    height: 40px;
    background-color: rgba(30, 61, 133, 0.787);
    border-radius: 15px;
    margin: 7px;
    font-size: large;
    display: inline;
    color: rgb(255, 251, 0);
    /* border: 5px solid rgba(255, 217, 0, 0.986); */
}

.summary{
    color: rgb(255, 251, 0);
    transition: all 3s;
    /* transform: translateY(-80%); */

}
.summary:hover{
    transition-delay:  1s;
    transition-duration: 5s;



}

